body{
    background-color:rgb(148, 248, 215);
    color: white;
}
#home {
    float: right;
    width: 75px;
    height : 75px;
    margin-top: 200px;
    margin-right: 10px;
}

p{
    font-size: 35px;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
}